/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.container {
  text-align: center;
  margin: 20px auto;
  max-width: 90%;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 12vh;
}
.display {
  height: 15vh;
  background-color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.result {
  width: 100%;
  text-align: right;
  padding: 0 20px;
  color: white;
  font-size: 2.25rem;
}
.btn,
.blank {
  background-color: #737373;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #4d4d4d;
  border-left: 1px solid #4d4d4d;
}
.btn {
  cursor: pointer;
}
.row1 .btn,
.row1 .blank {
  background-color: #5a5a5a;
}
.row1 {
  grid-template-areas: "clear clear . divide";
}
.clear {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: clear;
}
.row5 {
  grid-template-areas: "zero zero . equals";
}
.zero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}
.equals {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: equals;
}
.operator.btn,
.equals {
  background-color: orange;
  font-size: 2rem;
}
.warning {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 280px;
  }
  .container .row {
    grid-auto-rows: 60px;
  }
  .display {
    height: 80px;
  }
}

/* iOS button issue */
button {
  -webkit-appearance: none;
  border-radius: 0;
  touch-action: manipulation; /* disable double tap zoom */
}
