.container {
  text-align: center;
  margin: 20px auto;
  max-width: 90%;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 12vh;
}
.display {
  height: 15vh;
  background-color: #4d4d4d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  font-size: 2.25rem;
}
.btn,
.blank {
  background-color: #737373;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  border: none;
  border-top: 1px solid #4d4d4d;
  border-left: 1px solid #4d4d4d;
}
.btn {
  cursor: pointer;
}
.row1 .btn,
.row1 .blank {
  background-color: #5a5a5a;
}
.row5 {
  grid-template-areas: "zero zero . equals";
}
.operator.btn,
.equals {
  background-color: orange;
  font-size: 2rem;
}
.zero {
  grid-area: zero;
}
.equals {
  grid-area: equals;
}
@media screen and (min-width: 769px) {
  .container {
    max-width: 280px;
  }
  .container .row {
    grid-auto-rows: 60px;
  }
  .display {
    height: 80px;
  }
}

/* iOS button issue */
button {
  -webkit-appearance: none;
  border-radius: 0;
}
